#intro-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    margin-top: 110px;
}

#intro-img video {
  width: 100%;
  max-height: 100%;
}

#featured-projects .top-left {
    min-height: 250px;
    position: relative;
}

#featured-projects .padded {
    padding-bottom: 60px;
}

#featured-projects .top-left p {
    margin: 0;
    max-width: 460px;
    line-height: 16px;
    font-size: 16px;
}

#featured-projects .bottom-left, #featured-projects .bottom-center {
    min-height: 324px;
}

#featured-projects .right {
    min-height: 600px;
}

#featured-projects .boximg {
}

#featured-projects .conts {
    position: relative;
    color: #fff;
    height: 300px;
}

#featured-projects .imgs {
    margin-top: -320px;
}

#featured-projects .content {
    left: 260px;
    position: relative;
    padding: 50px 0 50px;
}

#featured-projects .content h2 {
    font-weight: 900;
    color: #fff;
    letter-spacing: 1px;
    line-height: 29px;
    margin-bottom: 20px;
}

#featured-projects .content .arrow-button {
    position: absolute;
    right: 20px;
    bottom: 0;
}

#featured-projects .content a {
    color: #fff;
}

.arrows {
    width: 80px;
    float: right;
}

#nextVideo, #prevVideo, .swiper-button-next, .swiper-button-prev {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% auto !important;
    width: 40px !important;
    height: 40px !important;
    top: 45%;
    margin-top: -20px;
}

#nextVideo, .swiper-button-next {
    background-image: url('../img/arrow-bt-white.png') !important;
    right: 30px;
}

#prevVideo, .swiper-button-prev {
    background-image: url('../img/arrow-bt-white-left.png') !important;
    left: 30px;
}

#player-overlay {
    position: relative;
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    overflow: hidden;
}

.swiper-slide video {
    width: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .swiper-slide video {
        margin-left: 0;
    }
}

@media only screen and (max-width:1720px) {
    #intro-img {
    }
}


@media only screen and (max-width:1510px) {
    #intro-img {
        background-size: auto 100%;
    }
}


@media only screen and (max-width:767px) {
    #featured-projects .content .arrow-button {
        position: relative;
        right: 0;
        bottom: -10px;
    }
}

