.innercontent {
    margin-top: 150px;
    min-height: 50vh;
}

.pagebanner {
    height: 430px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 100%;
    display: inline-block;
    color: #fff;
    position: relative;
}

.pagebanner .copy {
    position: absolute;
    width: 100%;
    max-width: 400px;
    bottom: 30px;
    left: 60px;
}

.innercontent a {
    color: #70C3B3;
}

.innercontent hr {
    background-color: #B2E1D8;
    opacity: 1;
}

@media only screen and (max-width: 520px) {

    .pagebanner .copy {
        left: 30px;
        padding-right: 50px;
    }
}
