body {
	direction: rtl;
    font-family: 'Cairo';
}

p {
    line-height: 25px;
}

.filterbox button {
	float: right;
}

#header .right li {
    float: left;
}

.heading {
    margin-bottom: 15px;
}

.arrow-button {
    padding-right: 0;
    padding-left: 50px;
    background-image: url(../img/arrow-bt-left.png);
    background-position: left;
}

.filter-submit {
    left: -30px;
    right: auto;
}

input[type=submit] {
    padding: 0 30px 0 40px;
    background-position: 10px center;
    text-align: right;
}

.select-selected:after {
    left: 10px;
    right: auto;
}

.blue-bt {
    padding: 0 30px 0 80px;
    float: left;
    background-image: url(../img/arrow-left.png);
    background-repeat: no-repeat;
    background-position: 15% center;
}

input[type=submit] {
    background-image: url(../img/arrow-left.png);
}

#newsletter input[type=submit] {
    background-color: #000;
    background-image: url(../img/arrow-left-white.png);
}

#newsletterform input[type=submit] {
    width: 20%;
    float: left;
}

#newsletterform input[type=text] {
    float: right;
}

#header li {
    float: right;
}

#topdivide .left .content p {
    margin-right: 0 !important;
    margin-left: 15%;
}

#team .member .wrap, #team .member .details {
    text-align: right !important;
}

.blue-wrap {
    left: 0;
    right: auto !important;
}

.sizeTexts .item {
    float: right !important;
    margin-right: 0;
    padding-right: 0;
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
    margin-bottom: 20px;
}

.pagebanner .copy {
    left: auto;
    right: 60px;
}

.innercontent {
    text-align: right !important;
}

.filterbox .col {
    border-right: 0;
    border-left: 1px solid #EBEBEB;
}

.swiper-button-next {
    background-image: url(../img/arrow-bt-white-left.png) !important;
}

.swiper-button-prev {
    background-image: url(../img/arrow-bt-white.png) !important;
}

#downloadBt {
    background-image: url(../img/arrow-bt-white-left.png);
}

#footer .socials a:first-of-type {
    margin-left: 20px;
}

#footer .socials a:last-of-type {
    margin-left: 0;
}

.rightstuff {
    text-align: left;
}

#langswitch {
    float: left;
}

#footer .right li:first-of-type a {
    margin-left: 20px;
}

#footer .right li:last-of-type a {
    margin-left: 0;
}

#header li a {
    font-family: 'Cairo';
    font-size: 16px;
}

#featured-projects .content h2 {
    line-height: 34px;
}
#featured-projects .top-left p {
    line-height: 20px;
}

.article .title {
    line-height: 21px;
}

