

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    text-decoration: none;
}

.relative {
    position: relative;
}

.gray-bg {
    background-color: #EBEBEB;
}


.blue-bg {
    background-color: #B2E1D8;
}

.blue-text {
    color: #B2E1D8;
}

.gray-text {
    color: #B0B3AF;
}

.darkgray-text {
    color: #848484;
}

.border-gray {
    border:1px solid #EBEBEB;
}

#subscribeSuccess {
    text-align: left;
    direction: ltr;
    background-color: #a5f4a2;
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
}
#subscribeError {
    text-align: left;
    direction: ltr;
    background-color: #db9999;
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
}
#header {
    background-color: #000;
    padding: 22px 12px 22px;
    position: fixed;
    z-index: 10;
    top: 26px;
}

#toptexts {
    height: 26px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: #fff;
    overflow: hidden;
    direction: ltr !important;
}

#toptexts span {
    background-image: url(../img/line-top-dot.png);
    background-position: left center;
    background-repeat: repeat-x;
    background-size: auto 80%;
    animation: slide 6s linear infinite;
    width: 3000px;
    max-width: 3000px;
}

#toptexts .phrase {
    float: left;
}

#toptexts .dot {
    width: 4px;
    height: 4px;
    background-color: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

#toptexts .wrap {
    width: 200%;
}

#toptexts span {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

.heading {
    margin-left: -2px;
    font-weight: 900;
}

.sub-heading {
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    color: #808080;
    letter-spacing: 1px;
}

#main-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;
    position: absolute;
    float: left;
    left: -100vw;
}

#header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header ul ul {
    background-color: #fff;
    position: absolute;
    display: none;
}

#header ul li:hover ul {
    display: block;
}

#header ul ul li {
    width: 100%;
}

#header ul ul li:hover a {
    font-weight: bold;
}

#header ul ul li a {
    color: #000;
}

#header li {
    float: left;
}

#header .right li {
    float: right;
}

#header li a {
    font-family: 'Aeroport';
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    height: 40px;
    line-height: 40px;
    color: #fff;
}


#main-logo {
    height: 40px;
}

#langswitch {
    margin: 0 20px !important;
    float: right;
}

#langswitch a {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.padded {
    padding-top: 50px;
    padding-bottom: 40px;
}

.arrow-button {
    display: inline-block;
    padding-right: 50px;
    height: 40px;
    line-height: 40px;
    background-image: url(../img/arrow-bt.png);
    background-size: 40px auto;
    background-position: right;
    background-repeat: no-repeat;
}

.filterbox button {
    border: 0;
    margin: 0;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    text-align: center;
    background-color: #000;
    color: #fff;
    float: left;
}

.filterbox button.active {
    background-color: #fff;
    color: #000;
}

.filterbox .fields {
    padding: 30px;
    background-color: #fff;
    width: 100%;
    float: left;
    position: relative;
}

.filterbox .select-selected {
    border-bottom: 0;
    margin-bottom: 0;
}

.filterbox form {
    padding: 10px;
}

.filterbox label {
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
}

.filterbox .col {
    border-right: 1px solid #EBEBEB;
}

.filterbox .col:last-of-type {
    border-right: 0;
}

.filterbox select {
    border: 0;
}

input[type=submit] {
    background-color: #B2E1D8;
    padding: 0 40px 0 30px;
    height: 40px;
    line-height: 40px;
    border: 0;
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-position: 83% center;
    background-size: 27px auto;
    text-align: left;
    width: 120px;
    font-size: 16px;
    color: #575757;
}

.filter-submit {
    position: absolute;
    right: -30px;
    bottom: -20px;
}

#scroll-items .item {
    float: left; margin-right: 10px;
}


#scroll-items .item.full, #scroll-items .item.topbot  {
    width: 40vw;
}

#scroll-items .item.topbot .half {
    width: 20vw;
    margin-top: 10px;
}


#scroll-items .item.topbot .half.left {
    width: 48%;
    margin-right: 2%;
}

#scroll-items .item.topbot .half.right {
    margin-right: 0;
    margin-top: 10px;
    float: right;
    width: 50%;
}

#scroll-items .item.topbot .half.right span {
    font-size: 22px;
    line-height: 24px;
    padding-right: 20px;
}

#scroll-items .item.half {
    width: 20vw;
}

#scroll-items .item .text-box {
    width: 100%;
    background-color: #B2E1D8;
    margin-bottom: 10px;
    position: relative;
}

#scroll-items .item .text-box.bottom {
    margin-bottom: 0 !important;
    margin-top: 10px !important;
}

#scroll-items .gray .text-box, #scroll-items .gray  .text-box span {
    background-color: #EBEBEB !important;
    color: #646464 !important;
}

#scroll-items .item .text-box span {
    background-color: #B2E1D8;
    color: #fff;
    font-weight: 900;
    font-size: 24px;
    line-height: 25px;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding-right: 20px;
}

#scroll-items .item .text-box span p {
    margin-bottom: 10px;
    font-size: 50px;
    text-transform: none;
}

#scroll-items .item img {
    width: 100%;
}

#scroll-items .slide {
    margin-right: 10px;
}

.slick-prev, .slick-next {
    border: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 20px;
}

.slick-prev {
    background-image: url(../img/carousel-left.png);
    float: left;
}

.slick-next {
    background-image: url(../img/carousel-right.png);
    float: right;
}

#nav-bt {
    cursor: pointer;
    float: left;
    display: none;
    margin-top: 5px;
}

#nav-bt div {
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
#nav-bt.active div:nth-of-type(1) {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
#nav-bt.active div:nth-of-type(2) {
  opacity: 0;
}

/* Rotate last bar */
#nav-bt.active div:nth-of-type(3) {
  -webkit-transform: rotate(45deg) translate(-6px, -4px) ;
  transform: rotate(45deg) translate(-6px, -4px) ;
}

.flat-form label {
    text-transform: uppercase;
    font-size: 12px;
}

.flat-form input[type=text], .flat-form input[type=file], .flat-form textarea {
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    margin-bottom: 20px;
    padding-left: 0;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
}

.flat-form textarea {
    height: 80px;
    resize: none;
}

.custom-file-input {
    display: inherit;
    width: 100%;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Upload CV';
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
    float: right;
    background-color: #b2e1d8;
    border: 0;
    color: #575757;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
    font-size: 16px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #989898 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #989898 transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
    color: #575757;
    padding: 0;
    height: 36px;
    line-height: 36px;
    border: 1px solid transparent;
    border-color: transparent transparent #ccc transparent;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bold;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
    width: 100%;
  z-index: 99;
    padding: 0 20px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
    padding-top: 8px;
    max-height: 300px;
    overflow: auto;
}

/* Style items (options): */
.filterbox .select-items {
    width: 130%;
}

.mobilenumber {
    background-image: url(../img/plus-icon.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-left: 13px !important;
}

.select-items div:last-of-type {
    border-bottom: 0;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

#newsletter {
    padding: 30px 0;
    color: #575757;
}

#newsletterform {
    width: 100%;
    float: left;
}

#newsletterform input[type=text] {
    width: 80%;
    float: left;
    height: 40px;
    line-height: 40px;
    border: 0;
    padding: 0 20px;
    font-size: 16px;
}

#newsletterform input[type=submit] {
    width: 20%;
    float: right;
    padding: 0;
    background-position: center;
}

#newsletter p {
    width: 100%;
    float: left;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
}

#newsletter .heading {
    color: #fff;
}

#newsletter .sub-heading {
    color: #575757;
}

#newsletter input[type=submit] {
    background-color: #000;
    background-image: url('../img/arrow-right-white.png');
}

#who-we-work-with .left,#who-we-work-with .center,#who-we-work-with .right {
    height: 200px;
}

#who-we-work-with .left {
    background-image: url('../img/foot.png');
    background-size: auto 100%;
}

#who-we-work-with .center {
    background-color: #575757;
}

#who-we-work-with .right {
    padding: 40px 0px;
}

#who-we-work-with .center h1 {
    color: #fff;
    line-height: 200px;
    height: 200px;
}

#clients {
    max-width: 220px;
    display: inline-block;
    min-height: 100px;
    width: 100%;
    padding: 0 10px;
}

#footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    position: relative;
}

#footer .list-head {
    font-size: 12px;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .right {
    text-align: right;
    margin-top: 40px;
}

#footer li {
    display: inline-block;
}

#footer .right a {
    color: #fff;
    margin-left: 20px;
}

#footer .right li:first-of-type a {
    margin-left: 0;
}

#footer .socials a:first-of-type {
    margin-left: 0;
}

#footer .socials a {
    font-size: 24px;
}

.boximg .imgslide .animate {
    width: 100% !important;
}

#featured-projects .boximg .imgslide {
    width: 100%;
    height: 100%;
    position: absolute;
}

.boximg .imgslide {
    background-position: top left;
}

.boximg.bottom-center .imgslide, .boximg.bottom-center {
    background-position: bottom left;
}

.boximg.bottom-center .imgslide {
    bottom: 0;
}

#featured-projects .boximg {
    padding: 0;
}

#featured-projects .boximg {
    position: relative;
}

#footer-logo {
    max-width: 140px;
}

.article .thumbnail {
    width: 100%;
    margin-top: 30px;
}

.article .type {
    margin: 8px 0 0;
    display: inline-block;
}

.article .title {
    font-size: 16px;
    line-height: 18px;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 12px;
    margin-bottom: 12px;
    font-weight: 900;
}

.article .readmore, .property .readmore {
    float: right;
    font-size: 16px;
    padding: 0 40px;
    border: 2px solid #B2E1D8;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #575757;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: background-color 300ms linear, color 300ms linear;
}

.readmoretxt {
    color: #B2E1D8;
}

.article .readmore:hover,.property .readmore:hover {
    color: #575757;
    background-color: #B2E1D8;
}

.article i,.property i {
    display: inline-block;
    float: right;
    margin-right: 20px;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.blue-bt {
    background-color: #B2E1D8;
    font-size: 20px;
    height: 60px;
    line-height: 55px;
    padding: 0 80px 0 30px;
    float: right;
    display: inline-block;
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-position: 75% center;
    background-size: 30px auto;
    color: inherit;
    transition: background-color 300ms linear, color 300ms linear;
    border: 2px solid #B2E1D8;
}

.blue-bt:hover {
    border: 2px solid #B2E1D8;
    color: inherit;
    background-color: #fff;
}

#chat-icon {
    background-image: url(../img/chat-bt.png);
    background-repeat: no-repeat;
    background-position: right center;
    width: 170px;
    height: 70px;
    position: fixed;
    background-size: 160px auto;
    right: 0px;
    bottom: 0;
    z-index: 3;
    opacity: .7;
}

#chat-icon:hover {
}

.paginations {
    text-align: center;
    width: 100%;
    float: left;
}

.paginations a, .page-item .page-link {
    display: inline-block;
}

.paginations .nav, .page-item .page-link {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    color: #5D5D5D;
    padding-top: 0;
}

.page-item:last-child .page-link, .page-item:first-child .page-link {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 30px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 24px;
}

.paginations .nav.active, .page-item.active .page-link {
    background-color: #B2E1D8;
    color: #fff;
}

.paginations .page-item {
    margin: 0 6px;
}

.paginations .arrow {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px auto;
}

.paginations .prev {
    background-image: url(../img/prev.png);
}

.paginations .next {
    background-image: url(../img/next.png);
}

.tab-content {
    display: none;
}

.tab-content.active{
    display: block;
}

.backbutton {
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
}

.modal-header {
    border-bottom: 0;
}

.modal-body {
    padding-left: 40px;
    padding-right: 40px;
}

@media only screen and (max-width:1620px) {

    body {
        font-size: 14px;
    }

    #main-nav li a {
    }

}

@media only screen and (max-width:1360px) {

    #scroll-items .item.full {
        width: 50vw;
    }

    #scroll-items .item.half {
        width: 25vw;
    }

    #featured-projects .bottom-left, #featured-projects .bottom-center {
        min-height: 210px;
    }
    #featured-projects .right {
        min-height: 500px;
    }
}

@media only screen and (max-width:1280px) {
    #featured-projects .boximg.right {
    }

    .select-items {
        width: 180%;
    }
}

@media only screen and (max-width:1080px) {


    #nav-bt {
        display: inline-block;
    }

    #header .navigation {
        display: none;
    }

    #main-nav {
        position: absolute;
        left: -100vw;
        top: 84px;
        background-color: #000;
        width: 100%;
        border-top: 1px solid #4c4c4c;
        padding: 20px;
        transition: left 300ms linear;
    }

    #main-nav.active {
        left: 0;
    }

    #main-nav li {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    #main-nav li a {
        margin-left: 0;
        font-size: 18px;
        border-bottom: 1px solid #ccc;
    }
}


@media only screen and (max-width:991px) {


    #featured-projects .boximg.bottom-left, #featured-projects .boximg.bottom-center {
    }

    #scroll-items .item.full {
        width: 60vw;
    }

    #scroll-items .item.half {
        width: 30vw;
    }
}


@media only screen and (max-width:767px) {

    #scroll-items .slide {
        width: 100vw;
    }

    #scroll-items .item {
        width: 100% !important;
    }

    .filterbox .select-selected {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }

    #scroll-items .item .text-box {
        height: auto !important;
    }

    #featured-projects .boximg.bottom-left, #featured-projects .boximg.bottom-center, #featured-projects .boximg.right {
        background-position: top left;
    }

    #featured-projects .boximg.right {
        min-height: 400px;
        height: 400px;
    }

     #featured-projects .content {
        padding: 60px 0 80px;
    }

    #featured-projects .content .arrow-button {
        right: auto;
        bottom: -50px;
    }

    #scroll-items .item .text-box span {
        padding: 20px;
        width: 80%;
    }

    .filter-submit {
        position: relative;
        bottom: 0;
        left: 0;
    }

    #footer {
        text-align: center;
    }

    #main-nav li a {
        font-size: 14px;
    }

    #footer ul {
        margin-bottom: 20px;
    }

    #footer .right
    {
        text-align: center;
    }

    .select-items {
        width: 100%;
    }
}


@media only screen and (max-width:520px) {

    #main-logo {
        height: 30px;
    }

    #scroll-items .item .text-box span {
        padding: 20px;
        width: 100%;
        left: 0;
        font-size: 18px;
    }

    #scroll-items .item .text-box {
        position: relative;
        min-height: 70px;
        max-width: 90vw;
    }

    #scroll-items .item .text-box span {
        position: relative;
        background-color: transparent;
        top: 0;
        display: block;
    }

    #newsletterform input[type=submit] {
        width: 20%;
    }
    #newsletterform input[type=text] {
        width: 80%;
    }

    #intro-img {
    }

    #featured-projects .bottom-left, #featured-projects .bottom-center {
        min-height: 200px;
        margin-bottom: 5px;
    }

    #featured-projects .boximg.right {
        min-height: 250px;
        height: 250px;
    }

    #scroll-items .item img {
        margin-bottom: 10px;
    }

    #scroll-items .item .text-box {
        max-width: 100vw;
    }
    #scroll-items .item .text-box span {
        width: 80%;
    }

    #team .member .details {
        /*text-align: center !important;*/
    }
    .modal-content img {
        width: 100%;
    }

    #team .member {
        /*text-align: center !important;*/
    }

    #topdivide .right {
        width: 100%;
        height: 300px;
    }
    #topdivide .left .content {
        margin: 30px 0 !important;
    }

    .center-mobile {
        /*text-align: center !important;*/
    }

    .tab-box h3 {
        max-width: 100% !important;
        width: 100%;
    }

    #scroll-items .item .text-box span {
        width: 100% !important;
    }

    .full-mobile {
        width: 100% !important;
        margin: 0;
    }

    .sizeTexts .item {
        width: 100%;
    }

    .sizeTexts .divider {
        top: auto !important;
        bottom: 0 !important;
        height: 1px !important;
        width: 200px !important;
        left: 50% !important;
        right: auto !important;
        margin-left: -100px;
    }

    .sizeTexts span {
        display: block;
    }

    .sizeTexts .small {
        font-size: 16px;
        margin-top: 10px;
    }

    .sizeTexts .bot {
        margin-top: -10px;
    }

    .sizeTexts .item {
        padding-bottom: 20px;
    }

    #downloadBt {
        width: 100%;
        font-size: 20px;
    }

    .center-mobile input[type='text'] {
        /*text-align: center;*/
    }

    #main-nav.active {
        height: 100vh;
    }

    #scroll-items .item.full {
        width: 45vw !important;
    }
    #scroll-items .item .text-box {
        height: auto !important;
        padding: 0 !important;
        display: block !important;
        min-height: 1px !important;
    }
    #scroll-items .item .text-box  span {
        font-size: 12px !important;
        padding: 0 !important;
    }
    #scroll-items .item.half {
        width: 40vw !important;
    }
}








