.property {
    margin-bottom: 24px;
}

.property .image {
    position: relative;
    float: left;
    width: 100%;
}

.property .photos {
    background-image: url(../img/photos-icon.png);
    background-color: rgba(0,0,0,0.5);
    padding: 5px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 7px center;
    padding-left: 28px;
    color: #fff;
    background-size: 15px auto;
}

.property .title {
    font-size: 20px;
    margin-bottom: 0;
    width: 100%;
    float: left;
    font-weight: 900;
}

.property .size {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 300;
    width: 100%;
    float: left;
}

.property .price {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: bold;
    width: 100%;
    float: left;
}

.property .excerpt {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    min-height: 48px;
}

.property .copy {
    background-color: #fff;
    padding: 30px 15px 15px;
    float: left;
}

.property .readmore, .property i {
    margin-bottom: 0;
}

.property .readmore {
    padding: 0 20px;
    line-height: 36px;
}
