@font-face {
    font-family: 'Aeroport';
    src: url('Aeroport-Bold.woff2') format('woff2'),
        url('Aeroport-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeroport';
    src: url('Aeroport-Light.woff2') format('woff2'),
        url('Aeroport-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeroport';
    src: url('Aeroport-Medium.woff2') format('woff2'),
        url('Aeroport-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('TTCommons-Bold.woff2') format('woff2'),
        url('TTCommons-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('TTCommons-Regular.woff2') format('woff2'),
        url('TTCommons-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('TTCommons-Medium.woff2') format('woff2'),
        url('TTCommons-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('TTCommons-Light.woff2') format('woff2'),
        url('TTCommons-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

